@{
  Layout = "_Layout";
}
<div class="container">
    <h1>TaskMaster Item Details:</h1>
    <h2>Edit item: @Model["item"].GetDescription()</h2>

    <form action="/categories/@Model["category"].GetId()/items/@Model["item"].GetId()" method="post">

      <label for="newDescription">Name:</label>
      <input type="text" name="newDescription" value="@Model["item"].GetDescription()">
      <div class="form-group"></div>
      <button type="submit">Edit</button>
    </form>

    <h4><a href="/categories/@Model["category"].GetId()/items/@Model["item"].GetId()">Return to previous page</a></h4>
</div>
